*{
  margin-left:2vw;
  margin-right:2vw;
}
h1
 {
   background-color:#00FFFF;

    padding: 1em;
   text-align:center;
   font-size:3em;
   }
p
 {
    background-color:#DC143C;

    padding: 3em;
	font-size:2em;
  }
.happy{
  background-color: yellow;
  padding: 3em;
font-size:2em;
}
